mixin generateItem(item)
  .item(onclick="getItem(" + item.id + ", this)")
    img.cover(src=getItemImg(item).cover[0] draggable="false")
    .info
      .title=item.title
      .evaluation
      .mark