include ./generateItem.pug
//- 初始化变量
- let gItems = items
- let gPages = pages
- let gPage = page
- let gPageFnName = pageFnName
-
  if (!items) {
    gItems = db.items.splice(0, settings.itemPrePage)
  }
  if (!pages) {
    gPages = Math.max(Math.ceil(db.items.length / settings.itemPrePage), 1)
  }
  if (!page) {
    gPage = 1
  }
  if (!pageFnName) {
    gPageFnName = 'window.getPage'
  }
-
//- 生成分页
mixin pagination(page, pages, pageFnName)
  if pages > 1
    .pagination
      if page === 1
        .icon.icon-chevron-left.current
      else
        .icon.icon-chevron-left(onclick=pageFnName + "(1)")
      - let current = 1
      while current <= pages
        if current === page
          .num.current=current
        else
          .num(onclick=pageFnName + "(" + current + ")")=current
        - current++
      if page === pages
        .icon.icon-chevron-right.current
      else
        .icon.icon-chevron-right(onclick=pageFnName + "(" + pages + ")")
//- 生成列表
.item-list-container
  if gItems && gItems.length > 0
    +pagination(gPage, gPages, gPageFnName)
    .item-list
      - let i = 0
      while i < gItems.length
        +generateItem(gItems[i])
        - i++
    +pagination(gPage, gPages, gPageFnName)