include ./pagination.pug
.item-list
  each item in items
    .item(onclick="getItem(" + item.id + ", this)")
      img.cover(src=getItemImg(item).cover[0] draggable="false")
      .info
        .title=item.title
        .evaluation
        .mark
include ./pagination.pug