- let titleContent = ''
-
  if (notice.title) {
    titleContent = lang.notice.colon + notice.title
  }
-
.title
  case notice.type
    when 'info'
      .icon.icon-info
      div=lang.notice.info + titleContent
    when 'warn'
      .icon.icon-warning
      div=lang.notice.warn + titleContent
    when 'error'
      .icon.icon-warning
      div=lang.notice.error + titleContent
.content
  !=notice.content
.prog