ui-scroll(target=".page.page-about").page-scroll
h2=lang.page_about.about
h3=lang.page_about.detail
ul
  li
    =lang.page_about.version
    strong=app.version
  li
    =lang.page_about.build
    strong=app.build
  li
    =lang.page_about.source_code
    a(href="https://github.com/JonnyJong/abm3") Github