ui-tab-item(data-id=item.id)
  .info=item.title
  .close.icon.icon-dismiss
ui-tab-content(data-id=item.id)
  ui-scroll.page-scroll
  h1=lang.item_edit.now_editing_before + item.title + lang.item_edit.now_editing_after
  include ./item-edit.pug