ui-scroll(target=".page.page-add").page-scroll
h1=lang.item_edit.add
- let item = {id:-1,title:'',tags:[],categorize:[],content:'',seasons:[{title:'',cover:'',header:'',set:'',finished:'',links:[]}]}
include ./item-edit.pug