//- UNFINISHED

.mdu-control
  button.btn-clear.mdc-copy(tooltip="<ui-lang>markdown.copy</ui-lang>")
    .icon.icon-Copy
  button.btn-clear.mdc-paste(tooltip="<ui-lang>markdown.paste</ui-lang>")
    .icon.icon-Paste
  button.btn-clear.mdc-heading(tooltip="<ui-lang>markdown.heading</ui-lang>")
    .icon.icon-e18a
  button.btn-clear.mdc-image(tooltip="<ui-lang>markdown.image</ui-lang>")
    .icon.icon-Photo2
  button.btn-clear.mdc-quote(tooltip="<ui-lang>markdown.quote</ui-lang>")
    .icon.icon-LeftDoubleQuote
  button.btn-clear.mdc-hr(tooltip="<ui-lang>markdown.hr</ui-lang>")
    .icon.icon-Remove
  button.btn-clear.mdc-bangumi(tooltip="<ui-lang>markdown.bangumi</ui-lang>")
    .icon.icon-PreviewLink
  .mdu-flex
  button.btn-clear.mdc-clear(tooltip="<ui-lang>markdown.clear</ui-lang>")
    .icon.icon-Clear
  button.btn-clear.mdc-pin(tooltip="<ui-lang>markdown.pin</ui-lang>")
    .icon.icon-Pinned
    //- .icon.icon-Unpin
  button.btn-clear.mdc-fit(tooltip="<ui-lang>markdown.fit</ui-lang>")
    .icon.icon-FitPage
.mdu-edit
  .md-p(contentEditable="true")
  //- .md-h(heading="1")
  //-   .icon.icon-e18a
  //-   input(value="H1")
  //- .md-h(heading="2")
  //-   .icon.icon-e18a
  //-   input(value="H2")
  //- .md-h(heading="3")
  //-   .icon.icon-e18a
  //-   input(value="H3")
  //- .md-h(heading="4")
  //-   .icon.icon-e18a
  //-   input(value="H4")
  //- .md-h(heading="5")
  //-   .icon.icon-e18a
  //-   input(value="H5")
  //- .md-h(heading="6")
  //-   .icon.icon-e18a
  //-   input(value="H6")
  //- .md-image
  //-   img(src="file:///C:/Users/lenovo/.abm/covers/285_0.png" draggable="false")
  //-   .md-img-control
  //-     input
  //-     .md-imgc-flex
  //-     button.btn-clear(tooltip="<ui-lang>markdown.img_embed</ui-lang>")
  //-       .icon.icon-Document
  //-     button.btn-clear(tooltip="<ui-lang>markdown.img_link</ui-lang>")
  //-       .icon.icon-Link
  //-     button.btn-clear(tooltip="<ui-lang>markdown.img_choose</ui-lang>")
  //-       .icon.icon-OpenFile
  //-     button.btn-clear(tooltip="<ui-lang>markdown.img_del</ui-lang>")
  //-       .icon.icon-Delete
  //- .md-quote
  //-   .icon.icon-LeftDoubleQuote
  //-   .md-quote-input(contentEditable="true") 一言以蔽之，就是“爱”
  //-   .md-quote-author
  //-     ui-lang markdown.quote_from
  //-     span.md-quote-author-input(contentEditable="true") 泉此方
  //- .md-hr
  //- .md-bangumi
  //- .md-p(contentEditable="true") Hello World!
