.rack-head
  .rack-title
  button.rack-edit.btn-clear(tooltip="<ui-lang>rack.edit</ui-lang>")
    .icon.icon-Edit
  .rack-flex
  button.rack-expand.btn-clear(tooltip="<ui-lang>rack.expand</ui-lang>")
    .icon.icon-ChevronDown
.rack-body
