.ui-setting-item-head-shell
  //- .ui-setting-item-icon
  .ui-setting-item-info
    //- .ui-setting-item-name
    //- .ui-setting-item-desc
  //- .ui-setting-item-head
  if body
    .ui-setting-item-expand
      .icon.icon-ChevronDown
if body
  .ui-setting-item-body-shell
    //- .ui-setting-item-body
