:root
  --bg #f3f3f3
  --bg2 #eeeeee
  --bg3 #fdfdfd
  --color #1a1a1a
  --color2 #5f5f5f
  --color3 #8a8a8a
  --color-disabled #9f9f9f
  --bg-tsp #f3f3f3b0
  --bg-tsp2 #f3f3f380
  --bg-tsp3 #f3f3f3c0
  --bg2-tsp #fbfbfbb0
  --theme #f837be
  --select #fff
  --weight-factor 1

  --loading1 #f1f1f1
  --loading2 #cacaca

  --rcmd-check-bg #fff2
  --rcmd-check-bg-hover #fff3
  --rcmd-check-bg-active #fff1

  --btn-border #e5e5e5
  --btn-border-top #e5e5e5
  --btn-border-bottom #ccc
  --btn-bg #fbfbfb
  --btn-bg-hover #f6f6f6
  --btn-border-top-active #e5e5e5
  --btn-border-bottom-active #e5e5e5
  --btn-bg-active #f5f5f5
  --btn-color-active #5d5d5d
  --btn-bg-disabled #f5f5f5
  --btn-border-disabled #e5e5e5
  --btn-color-disabled #9d9d9d

  --input-bg #fbfbfb
  --input-border #e5e5e5
  --input-border-bottom #868686
  --input-placeholder #5f5f5f
  --input-bg-hover #f6f6f6
  --input-placeholder-hover #5e5e5e
  --input-bg-focus #fff
  --input-placeholder-focus #8d8d8d

  --menu-hover #0002
  --menu-active #0001
  --menu-separator #0001

  --tab-hover #e9e9e9
  --tab-close-hover #e1e1e1
  --tab-current #f9f9f9

  --setting-bg-hover #f5f5f5
  --setting-bg-active #f5f5f5
  --setting-border #eaeaea

  --switch-border #858585
  --switch-toggler #5a5a5a
  --switch-toggler-active #545454
  --switch-bg-hover #00000008
  --switch-bg-active #0000000f

  --range-bg #868686
  --range-slider-bg #ffffff

  --color-sight #1b1b1b
  --color-sight-border #ffffff

  --dialog-bg #fff
  --dialog-border #404040
  --dialog-buttons-bg #f3f3f3
  --dialog-buttons-border #e5e5e5

  --check-border #858585
  --check-border-active #b6b6b6
  --check-bg-hover #e5e5e5
  --check-bg-active #dcdcdc

  @media (prefers-color-scheme: dark)
    --weight-factor 0.75
    --bg #202020
    --bg2 #1c1c1c
    --bg3 #282828
    --color #fff
    --color2 #cecece
    --color3 #9a9a9a
    --color-disabled #767676
    --bg-tsp #202020b0
    --bg-tsp2 #20202080
    --bg-tsp3 #20202040
    --bg2-tsp #2b2b2bb0
    --select #000

    --loading1 #303030
    --loading2 #494949

    --btn-border #353535
    --btn-border-top #303030
    --btn-border-bottom #303030
    --btn-bg #2d2d2d
    --btn-bg-hover #323232
    --btn-border-top-active #303030
    --btn-border-bottom-active #303030
    --btn-bg-active #272727
    --btn-color-active #cecece
    --btn-bg-disabled #2a2a2a
    --btn-border-disabled #303030
    --btn-color-disabled #787878

    --input-bg #2d2d2d
    --input-border #303030
    --input-border-bottom #9a9a9a
    --input-placeholder #cfcfcf
    --input-bg-hover #323232
    --input-placeholder-hover #d0d0d0
    --input-bg-focus #1f1f1f
    --input-placeholder-focus #969696

    --menu-hover #fff2
    --menu-active #fff1
    --menu-separator #fff1

    --tab-hover #2d2d2d
    --tab-close-hover #393939
    --tab-current #282828

    --setting-bg-hover #303030
    --setting-bg-active #262626
    --setting-border #232323

    --switch-border #999999
    --switch-toggler #cccccc
    --switch-toggler-active #d0d0d0
    --switch-bg-hover #ffffff08
    --switch-bg-active #ffffff0f

    --range-bg #9a9a9a
    --range-slider-bg #454545

    --color-sight #f2f2f2
    --color-sight-border #454545

    --dialog-bg #2b2b2b
    --dialog-border #3d3d3d
    --dialog-buttons-bg #202020
    --dialog-buttons-border #1d1d1d

    --check-border #999999
    --check-border-active #4a4a4a
    --check-bg-hover #2a2a2a
    --check-bg-active #303030
