:root
  --bg #f3f3f3
  --color #000
  --color-disabled #b2b2b2
  --bg-tsp #f3f3f3b0
  --theme #f837be
  --select #fff
  --weight-factor 1

  --loading1 #f1f1f1
  --loading2 #cacaca

  --rcmd-check-bg #fff2
  --rcmd-check-bg-hover #fff3
  --rcmd-check-bg-active #fff1

  --btn-border #e5e5e5
  --btn-border-top #e5e5e5
  --btn-border-bottom #ccc
  --btn-bg #fbfbfb
  --btn-bg-hover #f6f6f6
  --btn-border-top-active #e5e5e5
  --btn-border-bottom-active #e5e5e5
  --btn-bg-active #f5f5f5
  --btn-color-active #5d5d5d
  --btn-bg-disabled #f5f5f5
  --btn-border-disabled #e5e5e5
  --btn-color-disabled #9d9d9d

  --input-bg #fbfbfb
  --input-border #e5e5e5
  --input-border-bottom #868686
  --input-placeholder #5f5f5f
  --input-bg-hover #f6f6f6
  --input-placeholder-hover #5e5e5e
  --input-bg-focus #fff
  --input-placeholder-focus #8d8d8d

  --menu-hover #0002
  --menu-separator #0001

  @media (prefers-color-scheme: dark)
    --weight-factor 0.75
    --bg #202020
    --color #fff
    --color-disabled #626262
    --bg-tsp #202020b0
    --select #000

    --loading1 #303030
    --loading2 #494949

    --btn-border #353535
    --btn-border-top #303030
    --btn-border-bottom #303030
    --btn-bg #2d2d2d
    --btn-bg-hover #323232
    --btn-border-top-active #303030
    --btn-border-bottom-active #303030
    --btn-bg-active #272727
    --btn-color-active #cecece
    --btn-bg-disabled #2a2a2a
    --btn-border-disabled #303030
    --btn-color-disabled #787878

    --input-bg #2d2d2d
    --input-border #303030
    --input-border-bottom #9a9a9a
    --input-placeholder #cfcfcf
    --input-bg-hover #323232
    --input-placeholder-hover #d0d0d0
    --input-bg-focus #1f1f1f
    --input-placeholder-focus #969696

    --menu-hover #fff2
    --menu-active #fff1
    --menu-separator #fff1
