.titlebar
  .history-control
    .history-control-back
    .history-control-home
    .app-title=lang.abm
  .searchbar
  .window-control
    .window-control-minimize
    .window-control-resize
    .window-control-close