.page
  &>*
    display none
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    overflow hidden auto
    // padding
    // width
    // animation
.page-current
  display block
