.titlebar
  position fixed
  top 0
  left 0
  width 100vw
  height 50px
  display flex
  align-items center
  app-region drag
  z-index 10
  &>*
    position relative
    app-region no-drag
  &:before
    content ''
    display block
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    background var(--bg-tsp)
    backdrop-filter blur(20px)
body.blur
  .titlebar
  .titlebar ::placeholder
  .window
    color var(--color-disabled)

.history
  flex 0 0 auto
.history-back
.history-home
  // margin 0 8px 0 -42px
  margin-left -42px
  opacity 0
  pointer-events none
  transition .1s margin, .1s opacity, .1s border, .1s background, .1s scale

body.backable .history-back
body.homeable .history-home
  margin-left 4px
  opacity 1
  pointer-events all

.app-info
  padding 0 8px
  app-region drag
  display flex
  align-items center
  gap 8px
  width 230px
.app-icon
  height 28px
  width 28px
.app-name
  white-space nowrap

.user
  width 28px
  height 28px
  border-radius 100%
  overflow hidden
  transition .1s scale
  margin-right 202px
  flex 0 0 auto
  &:active
    scale .9
.user-avatar
  width 100%
  height 100%
  object-fit cover

.window
  position fixed
  top 0
  right 0
  display flex
  height 50px
  app-region drag
  padding-left 64px
  z-index 20
  &>*
    app-region no-drag
    width 46px
    height 32px
    line-height 32px
    text-align center
    font-size 10px
    transition .1s background
    &:hover
      background #8884
    &:active
      background #8882
.window-close
  &:hover
    background #e11
  &:active
    background #e11a
body:not(.maxmized) .window .icon-ChromeRestore
body.maxmized .icon-ChromeMaximize
  display none
