.titlebar
  .history
    button.history-back.btn-clear(tooltip="<ui-lang>app.back</ui-lang>")
      .icon.icon-ChevronLeft
    button.history-home.btn-clear(tooltip="<ui-lang>app.home</ui-lang>")
      .icon.icon-Home
  .app-info
    img.app-icon(src="../assets/icons/64.png" draggable="false")
    ui-lang.app-name app.name
  .search
    .search-input
      ui-text(lang="placeholderText" lang-key="search.type_to_search")
  .user
    img.user-avatar(src="../assets/defaultAvatar.bmp" draggable="false")
.window
  .window-minimize
    .icon.icon-ChromeMinimize
  .window-resize
    .icon.icon-ChromeRestore
    .icon.icon-ChromeMaximize
  .window-close
    .icon.icon-ChromeClose
