@-moz-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-webkit-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-o-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
