@-moz-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-webkit-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-o-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-moz-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-o-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-moz-keyframes notice {
  from {
    width: 100%;
  }
}
@-webkit-keyframes notice {
  from {
    width: 100%;
  }
}
@-o-keyframes notice {
  from {
    width: 100%;
  }
}
@keyframes notice {
  from {
    width: 100%;
  }
}
@-moz-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-o-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-moz-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@-webkit-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@-o-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
