:root {
  --theme-color: #ca5cb3;
  --theme-font-color: #fff;
  --border-radius: 6px;
  --blur-filter: blur(100px) saturate(1.8);
  --bg: #f3f3f3;
  --block-bg: #f9f9f9;
  --block-border: 1px solid #e5e5e5;
  --font-color: #000;
  --bg-alpha: rgba(243,243,243,0.69);
  --titlebar-bg: rgba(243,243,243,0.69);
  --titlebar-color-nofocus: rgba(0,0,0,0.667);
  --input-border: 1px solid #e5e5e5;
  --input-border-bottom: 1px solid #868686;
  --input-bg: #fbfbfb;
  --input-bg-hover: #f6f6f6;
  --input-bg-focus: #fff;
  --input-border-bottom-focus: 1px solid var(--theme-color);
  --button-border: 1px solid #e5e5e5;
  --button-border-bottom: 1px solid #ccc;
  --button-bg: #fbfbfb;
  --button-bg-hover: #f6f6f6;
  --button-bg-active: #f5f5f5;
  --button-border-disabled: 1px solid #e5e5e5;
  --button-bg-disabled: #f5f5f5;
  --button-color-disabled: #9d9d9d;
  --home-rcm-bg: rgba(255,255,255,0.6);
  --home-rcm-bg-c: rgba(255,255,255,0.8);
  --home-rcm-sub: #666;
  --home-rcm-btn-hover: rgba(204,204,204,0.133);
  --home-rcm-btn-active: rgba(85,85,85,0.067);
  --home-lib-dtl: rgba(32,32,32,0.8);
  --item-bg: #fff;
  --dialog-border: 1px solid rgba(255,255,255,0.133);
  --dialog-warn-bg: #833a3a;
  --dialog-warn-bg-hover: #9c3e3e;
  --dialog-warn-bg-active: #7d3232;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202020;
    --block-bg: #272727;
    --block-border: 1px solid #1d1d1d;
    --font-color: #fff;
    --bg-alpha: rgba(32,32,32,0.69);
    --titlebar-bg: rgba(32,32,32,0.69);
    --titlebar-color-nofocus: rgba(255,255,255,0.667);
    --input-border: 1px solid #303030;
    --input-border-bottom: 1px solid #9a9a9a;
    --input-bg: #2b2b2b;
    --input-bg-hover: #323232;
    --input-bg-focus: #1f1f1f;
    --button-border: 1px solid #353535;
    --button-border-bottom: 1px solid #303030;
    --button-bg: #2d2d2d;
    --button-bg-hover: #323232;
    --button-bg-active: #272727;
    --button-border-disabled: 1px solid #2a2a2a;
    --button-bg-disabled: #303030;
    --button-color-disabled: #737373;
    --home-rcm-bg: rgba(32,32,32,0.6);
    --home-rcm-bg-c: rgba(32,32,32,0.8);
    --home-rcm-sub: #ccc;
    --home-rcm-btn-hover: rgba(255,255,255,0.133);
    --home-rcm-btn-active: rgba(255,255,255,0.067);
    --home-lib-dtl: rgba(255,255,255,0.8);
    --item-bg: #272727;
    --dialog-border: 1px solid rgba(255,255,255,0.133);
    --dialog-warn-bg: #833a3a;
    --dialog-warn-bg-hover: #9c3e3e;
    --dialog-warn-bg-active: #7d3232;
  }
}
@-moz-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-webkit-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-o-keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@keyframes home-rcm-bg-breathe {
  0% {
    filter: blur(40px) brightness(0.8);
  }
  100% {
    filter: blur(40px) brightness(1.2);
  }
}
@-moz-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-o-keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@keyframes item-header {
  0%, 20% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-moz-keyframes notice {
  from {
    width: 100%;
  }
}
@-webkit-keyframes notice {
  from {
    width: 100%;
  }
}
@-o-keyframes notice {
  from {
    width: 100%;
  }
}
@keyframes notice {
  from {
    width: 100%;
  }
}
@-moz-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-o-keyframes notice-show {
  from {
    opacity: 0;
  }
}
@keyframes notice-show {
  from {
    opacity: 0;
  }
}
@-moz-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@-webkit-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@-o-keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@keyframes home-rcm-button {
  to {
    left: 200%;
  }
}
@-moz-keyframes dialog-shell {
  0% {
    background: rgba(0,0,0,0);
  }
}
@-webkit-keyframes dialog-shell {
  0% {
    background: rgba(0,0,0,0);
  }
}
@-o-keyframes dialog-shell {
  0% {
    background: rgba(0,0,0,0);
  }
}
@keyframes dialog-shell {
  0% {
    background: rgba(0,0,0,0);
  }
}
@-moz-keyframes dialog-open {
  0% {
    scale: 0;
  }
}
@-webkit-keyframes dialog-open {
  0% {
    scale: 0;
  }
}
@-o-keyframes dialog-open {
  0% {
    scale: 0;
  }
}
@keyframes dialog-open {
  0% {
    scale: 0;
  }
}
@-moz-keyframes dialog-close {
  0% {
    scale: 1;
  }
}
@-webkit-keyframes dialog-close {
  0% {
    scale: 1;
  }
}
@-o-keyframes dialog-close {
  0% {
    scale: 1;
  }
}
@keyframes dialog-close {
  0% {
    scale: 1;
  }
}
@-moz-keyframes home-list-show {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes home-list-show {
  0% {
    opacity: 0;
  }
}
@-o-keyframes home-list-show {
  0% {
    opacity: 0;
  }
}
@keyframes home-list-show {
  0% {
    opacity: 0;
  }
}
@-moz-keyframes item-loading {
  0% {
    background: rgba(136,136,136,0.133);
  }
  100% {
    background: rgba(136,136,136,0.067);
  }
}
@-webkit-keyframes item-loading {
  0% {
    background: rgba(136,136,136,0.133);
  }
  100% {
    background: rgba(136,136,136,0.067);
  }
}
@-o-keyframes item-loading {
  0% {
    background: rgba(136,136,136,0.133);
  }
  100% {
    background: rgba(136,136,136,0.067);
  }
}
@keyframes item-loading {
  0% {
    background: rgba(136,136,136,0.133);
  }
  100% {
    background: rgba(136,136,136,0.067);
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--font-color);
  user-select: none;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.avatar {
  border-radius: 100%;
}
.icon {
  font-size: 16px;
}
input,
textarea {
  border: var(--input-border);
  border-bottom: var(--input-border-bottom);
  background: var(--input-bg);
  height: 36px;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0 10px;
  color: var(--font-color);
  font-family: message-box;
}
input::placeholder,
textarea::placeholder {
  color: #cfcfcf;
}
input:hover,
textarea:hover {
  background: var(--input-bg-hover);
}
input:focus,
textarea:focus {
  background: var(--input-bg-focus);
  border-bottom: var(--input-border-bottom-focus);
  outline: 0;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: #969696;
}
textarea {
  padding: 10px;
}
.input {
  position: relative;
}
.input input {
  padding: 0 36px;
}
.input .input-left,
.input .input-right {
  position: absolute;
  margin: 3px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: var(--border-radius);
  transition: 0.1s transform;
}
.input .input-left:hover,
.input .input-right:hover {
  background: rgba(136,136,136,0.133);
}
.input .input-left:active,
.input .input-right:active {
  transform: scale(0.9);
}
.input .input-left {
  left: 0;
}
.input .input-right {
  right: 0;
}
.array-item,
button,
ui-tab-item .close {
  height: 32px;
  background: var(--button-bg);
  color: var(--font-color);
  border: var(--button-border);
  border-bottom: var(--button-border-bottom);
  outline: none;
  padding: 8px 12px;
  height: max-content;
  border-radius: 6px;
  app-region: no-drag;
  white-space: nowrap;
  transition: 0.1s background;
  line-height: 1.4rem;
}
.array-item:hover:not(:disabled),
button:hover:not(:disabled),
ui-tab-item .close:hover:not(:disabled) {
  background: var(--button-bg-hover);
}
.array-item:active:not(:disabled),
button:active:not(:disabled),
ui-tab-item .close:active:not(:disabled) {
  background: var(--button-bg-active);
}
.array-item:disabled,
button:disabled,
ui-tab-item .close:disabled {
  border: var(--button-border-disabled);
  background: var(--button-bg-disabled);
  color: var(--button-color-disabled);
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: var(--theme-color);
  color: var(--theme-font-color);
}
.menu-group:not(:first-child),
.menu-items {
  position: relative;
}
.menu-group:not(:first-child):not(:empty),
.menu-items:not(:empty) {
  padding-top: 2px;
}
.menu-group:not(:first-child):not(:empty):before,
.menu-items:not(:empty):before {
  content: '';
  height: 1px;
  top: -2px;
  width: 100%;
  background: rgba(136,136,136,0.267);
  display: block;
  position: absolute;
}
.menu-items {
  padding: 4px;
  outline: 0;
}
.menu-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.menu-group:not(:last-child) {
  padding-bottom: 6px;
}
.menu-item {
  all: unset;
  display: flex;
  border-radius: var(--border-radius);
  height: 29px;
  align-items: center;
}
.menu-item i {
  width: 29px;
  flex: 0 0 auto;
  text-align: center;
}
.menu-item:hover:not(:disabled),
.menu-item:focus:not(:disabled) {
  background: rgba(136,136,136,0.267);
}
.menu-item:active:not(:disabled) {
  background: rgba(136,136,136,0.133);
}
.menu-no-hover .menu-item:hover:not(:disabled):not(:focus) {
  background: rgba(136,136,136,0);
}
.menu-name {
  width: calc(100% - 29px);
}
a {
  color: var(--theme-color);
}
a:hover {
  text-decoration: 0;
}
ui-array {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.array-item {
  line-height: 1.2;
  padding: 8px 10px;
}
ui-sort {
  position: relative;
  display: block;
}
ui-sort-item {
  position: absolute;
  display: block;
  transition: 0.2s top, 0.2s left, 0.1s 0.2s z-index;
}
ui-sort-item[sorting] {
  transition: none;
  z-index: 1;
}
ui-sort-item[sorting] ui-sort-grab {
  cursor: grabbing;
}
ui-sort-item[placeholder] {
  opacity: 0.1;
}
ui-sort-grab {
  cursor: grab;
  display: block;
}
.flex-row {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.flex-row>* {
  flex: auto;
}
.flex-auto {
  flex: 0 0 auto;
}
.flex-right {
  flex-direction: row-reverse;
}
.flex-stretch {
  align-items: stretch;
}
ui-tab {
  display: block;
  height: 100%;
  width: 100%;
}
ui-tab-bar {
  width: 100%;
  display: block;
  position: relative;
  overflow: auto hidden;
}
ui-tab-bar:before {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: var(--width, 0px);
  left: var(--left, 0px);
  top: 34px;
  border-radius: var(--border-radius);
  background: var(--theme-color);
  transition: 0.2s width cubic-bezier(1, 0, 0, 1), 0.2s left cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}
ui-tab-item {
  width: max-content;
  display: flex;
  height: 32px;
  align-items: center;
}
ui-tab-item .info {
  padding: 0 10px;
}
ui-tab-item .close {
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  padding: 0;
  background: none;
  border: none;
}
ui-tab-item:hover {
  background: var(--button-bg-hover);
}
ui-tab-content {
  display: block;
  background: var(--bg);
  transition: 0.1s 0.1s opacity;
}
ui-tab-content:not(.ui-tab-current) {
  pointer-events: none;
  opacity: 0;
  transition: 0.1s opacity;
}
.ui-spotlight,
ui-spotlight {
  --size: 100px;
  position: relative;
  overflow: hidden;
}
.ui-spotlight:before,
ui-spotlight:before {
  content: '';
  position: absolute;
  height: var(--size);
  width: var(--size);
  backdrop-filter: brightness(1.5);
  --mask: radial-gradient(closest-side, #000, rgba(0,0,0,0));
  -webkit-mask-image: var(--mask);
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@-moz-keyframes ui-spotlight-onclick {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
@-webkit-keyframes ui-spotlight-onclick {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
@-o-keyframes ui-spotlight-onclick {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
@keyframes ui-spotlight-onclick {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
@-moz-keyframes ui-spotlight-restore {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes ui-spotlight-restore {
  from {
    opacity: 0;
  }
}
@-o-keyframes ui-spotlight-restore {
  from {
    opacity: 0;
  }
}
@keyframes ui-spotlight-restore {
  from {
    opacity: 0;
  }
}
.dialog-shell {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.267);
  animation: dialog-shell 0.2s;
  transition: 0.2s background;
}
.dialog {
  border-radius: var(--border-radius);
  background: var(--block-bg);
  border: var(--dialog-border);
  overflow: hidden;
  width: 500px;
  animation: dialog-open 0.2s;
}
.dialog-control {
  background-color: var(--bg);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
  background-size: 100% 4px;
  background-repeat: no-repeat;
  padding: 26px;
  display: flex;
  gap: 8px;
}
.dialog-control button {
  width: 100%;
}
.dialog-control .dialog-confirm {
  background: var(--theme-color);
  color: var(--theme-font-color);
}
.dialog-control .dialog-warn {
  background: var(--dialog-warn-bg);
}
.dialog-control .dialog-warn:hover {
  background: var(--dialog-warn-bg-hover);
}
.dialog-control .dialog-warn:active {
  background: var(--dialog-warn-bg-active);
}
.dialog-title {
  font-size: 20px;
  font-weight: bold;
  padding: 26px;
}
.dialog-content {
  padding: 0 26px 26px;
}
.dialog-close {
  background: rgba(0,0,0,0);
}
.dialog-close .dialog {
  scale: 0;
  animation: dialog-close 0.2s;
}
.item-edit {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-edit h2 {
  margin: 0;
}
.item-edit ui-array {
  width: 50%;
  min-height: 100%;
  position: relative;
  padding-bottom: 44px;
}
.item-edit ui-array input {
  position: absolute;
  bottom: 0;
}
.item-edit textarea {
  resize: vertical;
  min-height: 400px;
  max-height: calc(100vh - 200px);
}
.item-edit-seasons {
  width: 100% !important;
  padding-bottom: 32px;
}
.item-edit-season {
  width: calc(50% - 4px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 26px;
  border-radius: var(--border-radius);
  background: var(--block-bg);
  border: var(--block-border);
}
.item-edit-season.icon-add {
  height: 334px;
  text-align: center;
  line-height: 294px;
  font-size: 64px;
}
.item-edit-season.icon-add:not(:hover) {
  background: rgba(0,0,0,0);
}
.item-edit-grab-season {
  height: 16px;
  position: relative;
}
.item-edit-grab-season:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 6px;
  background: rgba(136,136,136,0.267);
  transition: 0.1s top, 0.1s height;
}
.item-edit-grab-season:hover:before,
.item-edit-grab-season:active:before {
  top: 0px;
  height: 16px;
}
.edit-item-link {
  min-height: 34px;
}
.edit-item-link>* {
  width: calc(50vw - 106px);
}
.item-edit-grab-link {
  width: 16px;
  height: 28px;
  position: relative;
}
.item-edit-grab-link:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: 6px;
  background: rgba(136,136,136,0.267);
  transition: 0.1s left, 0.1s width;
}
.item-edit-grab-link:hover:before,
.item-edit-grab-link:active:before {
  left: 0px;
  width: 16px;
}
.item-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.pagination>* {
  border-radius: var(--border-radius);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
}
.pagination .current {
  border: var(--button-border-disabled);
  background: var(--button-bg-disabled);
  color: var(--button-color-disabled);
  pointer-events: none;
}
.item-list {
  --item-width: 268px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, var(--item-width));
  gap: 12px 0;
  opacity: 1;
  transition: 0.1s opacity;
}
@media (max-width: 1717px) {
  .item-list {
    --item-width: 230px;
  }
}
@media (max-width: 1489px) {
  .item-list {
    --item-width: 210px;
  }
}
@media (max-width: 1369px) {
  .item-list {
    --item-width: 200px;
  }
}
.item-list-hide {
  opacity: 0;
}
.item {
  padding: 14px;
  border-radius: var(--border-radius);
  transition: 0.2s ease box-shadow, 0.2s ease background, 0.2s ease transform;
}
.item:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.533);
  transform: translateY(-4px);
  background: var(--item-bg);
}
.item:active {
  transform: translateY(-4px) scale(0.98);
}
.item .cover {
  height: calc((var(--item-width) - 28px) / 3 * 4);
  width: calc(var(--item-width) - 28px);
  object-fit: cover;
  border-radius: var(--border-radius);
}
.item .info {
  margin-top: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.item .title {
  font-size: 16px;
}
.item .evaluation {
  opacity: 0.8;
  display: flex;
  gap: 8px;
}
.item .mark {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.item-loading .title {
  height: 21px;
}
.item-loading .cover,
.item-loading .title {
  border-radius: var(--border-radius);
  animation: item-loading 1s infinite alternate linear;
}
body>.notices {
  position: fixed;
  right: 20px;
  top: 60px;
  height: 0px;
  width: 300px;
}
body>.notices .notice {
  width: 310px;
  background: var(--block-bg);
  border-radius: var(--border-radius);
  border: var(--block-border);
  overflow: hidden;
  animation: 0.1s notice-show;
  opacity: 1;
  transition: 0.1s opacity, 0.1s top, 0.1s left;
}
body>.notices .title {
  display: flex;
  padding: 18px 24px 6px;
  gap: 8px;
  align-items: center;
  font-size: 16px;
}
body>.notices .content {
  padding: 6px 24px 18px;
}
body>.notices .prog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 6px;
  background: var(--theme-color);
  animation: 5s notice linear;
  animation-duration: var(--duration, 5s);
}
body>.notices .notice-fade {
  opacity: 0;
}
.page-edit.page {
  padding: 0;
  overflow: hidden;
}
.page-edit .page-scroll {
  height: calc(100vh - 90px);
  top: 90px;
}
.page-edit ui-tab {
  height: 100vh;
  width: 100vw;
}
.page-edit ui-tab:before {
  content: attr(tip);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  pointer-events: none;
  line-height: 100vh;
  text-align: center;
  opacity: 0;
}
.page-edit ui-tab-bar {
  position: fixed;
  top: 50px;
  padding: 0 50px;
  backdrop-filter: var(--blur-filter);
  background: var(--titlebar-bg);
  z-index: 1;
  display: flex;
  align-items: center;
  height: 40px;
}
.page-edit ui-tab-bar:before {
  left: calc(var(--left, 0px) + 20px);
}
.page-edit ui-tab-item:active {
  transform: scale(0.95);
}
.page-edit ui-tab-content {
  padding: 90px 50px 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  overflow: scroll;
  top: 0px;
}
.page-edit .tab-empty:before {
  opacity: 0.6;
}
.home-recommendation {
  position: relative;
  height: calc(min(60vh, 600px) + 100px);
}
.home-recommendation .background {
  height: calc(min(80vh, 800px) + 150px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: -50px;
  --size: 100vw;
}
.home-recommendation .background ui-spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  --size: 100vw;
}
.home-recommendation .background img {
  position: absolute;
  height: 100%;
  width: calc(100% + 80px);
  object-fit: cover;
  left: -40px;
  top: 0;
  filter: blur(40px);
  animation: home-rcm-bg-breathe 3s infinite alternate linear;
}
.home-recommendation .background:after {
  content: '';
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(farthest-side, rgba(0,0,0,0), var(--home-rcm-bg) 60%, var(--home-rcm-bg-c)), linear-gradient(rgba(0,0,0,0) 80%, var(--bg));
  background-size: 200vw 200vh, 100%, 100%;
  background-position: 0 50%, 0 0;
}
.home-recommendation .info {
  position: relative;
  padding: 35px 55px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home-recommendation .cover {
  height: 100%;
  object-fit: cover;
  width: calc((min(60vh, 600px) + 30px) / 4 * 3);
  box-shadow: 0 0 30px rgba(255,255,255,0.133);
  transition: 1s box-shadow;
}
.home-recommendation .cover:hover {
  box-shadow: 0 0 30px rgba(255,255,255,0.4);
}
.home-recommendation .title {
  font-size: 40px;
  margin: 0;
}
.home-recommendation .info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.home-recommendation .subtitle {
  font-size: 16px;
  color: var(--home-rcm-sub);
}
.home-recommendation button {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 40px;
  background: rgba(255,255,255,0.067);
  border: 1px solid rgba(136,136,136,0.067);
  border-top: 1px solid rgba(255,255,255,0.067);
  box-shadow: 0 2px 2px rgba(0,0,0,0.267);
  transition: 0.2s background;
  position: relative;
  overflow: hidden;
}
.home-recommendation button:hover {
  background: var(--home-rcm-btn-hover);
}
.home-recommendation button:active {
  background: var(--home-rcm-btn-active);
  transition: 0.1s background;
}
.home-recommendation button:before {
  content: '';
  display: block;
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0));
  rotate: 10deg;
  animation: home-rcm-button 1.5s 2s;
}
.home-recommendation-nothing {
  height: 250px;
}
.home-recommendation-nothing .info {
  justify-content: flex-start;
}
.home-recommendation-nothing .background {
  height: 350px;
}
.home-recommendation-nothing .background:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--theme-color);
}
.home-library {
  position: relative;
  padding: 35px 55px;
}
.home-library h1 {
  margin: 0;
  font-size: 24px;
}
.home-library .detail {
  color: var(--home-lib-dtl);
  margin-bottom: 8px;
}
.home-library .progress {
  width: 100%;
  height: 3px;
  position: relative;
  margin-bottom: 12px;
}
.home-library .progress:before,
.home-library .progress:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: var(--theme-color);
  opacity: 0.25;
}
.home-library .progress:after {
  width: var(--p);
  opacity: 1;
}
.home-library .item-list {
  animation: 0.2s home-list-show;
  transition: 0.2s opacity;
}
.home-library .item-list.item-list-hide {
  opacity: 0;
}
.page-item {
  padding-bottom: 16px;
}
.page-item-header {
  position: relative;
  height: 80vh;
  margin-top: -50px;
  overflow: hidden;
}
.page-item-header img {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: calc(var(--top) / 2);
  animation: item-header 1s cubic-bezier(0, 0, 0, 1);
  transition: opacity 0.1s 0.1s;
}
.page-item-header .show {
  transition: opacity 0.1s;
  opacity: 1;
}
.page-item-header:after {
  content: '';
  display: block;
  background: linear-gradient(rgba(0,0,0,0), var(--bg));
  width: 100%;
  position: absolute;
  bottom: 0;
  height: calc(140px + var(--top, 0px) * 2);
}
.page-item-info {
  margin-top: -100px;
  position: relative;
  display: flex;
  padding: 0 50px;
  gap: 30px;
}
.page-item-info .cover {
  width: 300px;
  height: 400px;
  position: relative;
  transition: opacity 0.1s 0.1s;
}
.page-item-info .cover .show {
  transition: opacity 0.1s;
  opacity: 1;
}
.page-item-info img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.1s;
}
.page-item-info .title {
  font-weight: bold;
  font-size: 32px;
  user-select: text;
}
.page-item-info .categorize,
.page-item-info .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}
.page-item-info .categorize:before,
.page-item-info .tags:before {
  content: '\e907';
  font-family: 'icon';
  font-size: 20px;
}
.page-item-info .tags:before {
  content: '\e906';
}
.page-item-info .evaluation {
  display: flex;
  gap: 4px;
  margin: 10px 0;
}
.page-item-info .evaluation .icon {
  font-size: 20px;
}
.page-item-info .stars {
  display: flex;
  flex-direction: row-reverse;
}
.page-item-info .icon-heart:before,
.page-item-info .icon-star:before {
  opacity: 0.75;
}
.page-item-info .icon-heart:hover:before,
.page-item-info .icon-star:hover:before,
.page-item-info .icon-heart:hover~*:before,
.page-item-info .icon-star:hover~*:before {
  opacity: 1;
}
.page-item-info [data-stars="5"] .icon-star:before {
  content: '\e915';
}
.page-item-info [data-stars="4"] .icon-star:nth-child(1)~*:before {
  content: '\e915';
}
.page-item-info [data-stars="3"] .icon-star:nth-child(2)~*:before {
  content: '\e915';
}
.page-item-info [data-stars="2"] .icon-star:nth-child(3)~*:before {
  content: '\e915';
}
.page-item-info [data-stars="1"] .icon-star:nth-child(4)~*:before {
  content: '\e915';
}
.page-item-info .progress {
  margin: 10px 0;
  position: relative;
  min-width: 370px;
}
.page-item-info .progress>* {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s;
}
.page-item-info .progress .show {
  transition: opacity 0.1s;
  opacity: 1;
}
.page-item-info .progress .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.page-item-info .progress .determinate {
  height: 4px;
  border-radius: var(--border-radius);
  background: var(--theme-color);
}
.page-item-info .progress .determinate:before {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  background: var(--theme-color);
  border-radius: var(--border-radius);
  opacity: 0.25;
  height: 4px;
}
.page-item-info .category,
.page-item-info .tag {
  background: rgba(136,136,136,0.267);
  padding: 4px 8px;
  border-radius: 99px;
}
.page-item-content {
  margin: 16px 50px 0;
  padding: 18px 24px;
  background: var(--block-bg);
  border-radius: var(--border-radius);
  border: var(--block-border);
}
.page-item-switch {
  margin: 16px 50px;
  display: flex;
  gap: 16px;
}
.page-item-switch .current {
  background: var(--theme-color);
  color: var(--theme-font-color);
  pointer-events: none;
}
.page-item-related {
  margin: 24px 50px 16px;
  display: none;
}
.page-item-related .item-list {
  justify-content: start;
}
.page-item-related:has(.item) {
  display: block;
}
.page-item-cover-anima {
  position: fixed;
  object-fit: cover;
  border-radius: var(--border-radius);
  transition: 0.2s height, 0.2s width, 0.2s top cubic-bezier(0, 0.5, 0.2, 1.2), 0.2s left, 0.1s opacity;
  z-index: 10;
}
.pages,
.page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.page {
  padding-top: 50px;
  overflow: hidden scroll;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s opacity, 0.2s transform;
}
.page:not(.page-current) {
  transform: translateY(30px);
}
.page:not(.page-home):not(.page-item):not(.page-edit) {
  padding: 50px 50px 0;
}
.page-scroll {
  height: calc(100vh - 50px);
  width: 14px;
  display: block;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 1;
}
.page-scroll:hover * {
  width: 6px;
}
.page-current {
  opacity: 1;
  pointer-events: all;
}
.page-hidding {
  pointer-events: none;
  opacity: 0;
  transition: 0.1s opacity, 0s 0.1s transform;
}
.titlebar {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  app-region: drag;
  position: fixed;
  top: 0;
  z-index: 100;
  position: relative;
}
.titlebar>* {
  flex: 0 0 auto;
  z-index: 1;
}
.titlebar:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--titlebar-bg);
  backdrop-filter: var(--blur-filter);
}
.titlebar .app-icon {
  margin: 0 10px;
}
.titlebar .input {
  app-region: no-drag;
  max-width: 520px;
  margin: auto;
}
body.blur .titlebar {
  color: var(--titlebar-color-nofocus);
}
.app-info,
.history-control {
  display: flex;
  align-items: center;
}
.window-control {
  height: 50px;
  display: flex;
}
.window-control i {
  font-size: 13px;
}
.window-control-minimize,
.window-control-resize,
.window-control-close {
  app-region: no-drag;
  width: 46px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  transition: 0.1s background;
}
.window-control-minimize:hover,
.window-control-resize:hover,
.window-control-close:hover {
  background: rgba(136,136,136,0.267);
}
.window-control-minimize:active,
.window-control-resize:active,
.window-control-close:active {
  background: rgba(136,136,136,0.133);
}
.window-control-close:hover {
  background: #e11;
}
.window-control-close:active {
  background: rgba(238,17,17,0.667);
}
.user-action {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  border-radius: 100%;
}
.user-action .avatar {
  height: 100%;
  width: 100%;
}
.user-menu-shell {
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: -10px;
  pointer-events: none;
}
.user-menu {
  position: relative;
  border-radius: var(--border-radius);
  background: var(--bg-alpha);
  backdrop-filter: var(--blur-filter);
  width: 320px;
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(0, 0.7, 0, 1);
}
.user-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  gap: 16px;
}
.user-info .avatar {
  height: 48px;
  width: 48px;
}
.user-control {
  app-region: no-drag;
  position: relative;
}
.user-control .user-action {
  transition: 0.1s transform;
}
.user-control .user-action:active {
  transform: scale(0.9);
}
.user-control.menu-open .user-action {
  outline: 2px solid var(--theme-color);
}
.user-control.menu-open .user-menu {
  transform: translateY(0%);
}
.user-control.menu-open .user-menu-shell {
  pointer-events: all;
}
.history-control>* {
  app-region: no-drag;
  height: 36px;
  width: 36px;
  line-height: 38px;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid rgba(136,136,136,0);
  margin-left: -36px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s margin, 0.1s transform, 0.1s opacity;
}
.history-control>*:hover {
  background: rgba(136,136,136,0.133);
  border: 1px solid rgba(136,136,136,0.267);
}
.history-control>*:active {
  transform: scale(0.9);
}
.searchbar {
  flex: auto;
  padding-left: 74px;
  transition: 0.1s padding;
}
.searchbar input:placeholder-shown+i {
  transform: scale(0);
}
.show-history-back .searchbar {
  padding-left: 32px;
}
.show-history-back.show-history-home .searchbar {
  padding-left: 0px;
  padding-right: 10px;
}
@media screen and (max-width: 950px) {
  .show-history-back.show-history-home .searchbar {
    padding-left: 10px;
    padding-right: 0px;
  }
}
.show-history-back .history-control-back,
.show-history-back.show-history-home .history-control-home {
  margin-left: 6px;
  opacity: 1;
  pointer-events: all;
}
body:has(.dialog-shell) .titlebar .window-control:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  app-region: drag;
}
