:root {
  --theme-color: #ca5cb3;
  --theme-font-color: #fff;
  --border-radius: 6px;
  --blur-filter: blur(100px) saturate(1.8);
  --font-color: #000;
  --bg-alpha: rgba(243,243,243,0.69);
  --titlebar-bg: rgba(243,243,243,0.69);
  --titlebar-color-nofocus: rgba(0,0,0,0.667);
  --input-border: 1px solid #e5e5e5;
  --input-border-bottom: 1px solid #868686;
  --input-bg: #fbfbfb;
  --input-bg-hover: #f6f6f6;
  --input-bg-focus: #fff;
  --input-border-bottom-focus: 1px solid var(--theme-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --bg-alpha: rgba(32,32,32,0.69);
    --titlebar-bg: rgba(32,32,32,0.69);
    --titlebar-color-nofocus: rgba(255,255,255,0.667);
    --input-border: 1px solid #303030;
    --input-border-bottom: 1px solid #9a9a9a;
    --input-bg: #2b2b2b;
    --input-bg-hover: #323232;
    --input-bg-focus: #1f1f1f;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--font-color);
  user-select: none;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.avatar {
  border-radius: 100%;
}
.icon {
  font-size: 16px;
}
.input {
  position: relative;
}
.input input {
  border: var(--input-border);
  border-bottom: var(--input-border-bottom);
  background: var(--input-bg);
  height: 36px;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0 36px;
  color: var(--font-color);
}
.input input::placeholder {
  color: #cfcfcf;
}
.input input:hover {
  background: var(--input-bg-hover);
}
.input input:focus {
  background: var(--input-bg-focus);
  border-bottom: var(--input-border-bottom-focus);
  outline: 0;
}
.input input:focus::placeholder {
  color: #969696;
}
.input .input-left,
.input .input-right {
  position: absolute;
  margin: 3px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: var(--border-radius);
  transition: 0.1s transform;
}
.input .input-left:hover,
.input .input-right:hover {
  background: rgba(136,136,136,0.133);
}
.input .input-left:active,
.input .input-right:active {
  transform: scale(0.9);
}
.input .input-left {
  left: 0;
}
.input .input-right {
  right: 0;
}
.titlebar {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  app-region: drag;
  position: fixed;
  top: 0;
  z-index: 100;
  position: relative;
}
.titlebar>* {
  flex: 0 0 auto;
  z-index: 1;
}
.titlebar:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--titlebar-bg);
  backdrop-filter: var(--blur-filter);
}
.titlebar .app-icon {
  margin: 0 10px;
}
.titlebar .input {
  app-region: no-drag;
  max-width: 520px;
  margin: auto;
}
body.blur {
  color: var(--titlebar-color-nofocus);
}
.app-info,
.history-control {
  display: flex;
  align-items: center;
}
.window-control {
  app-region: no-drag;
  height: 50px;
  display: flex;
}
.window-control i {
  font-size: 12px;
}
.window-control-minimize,
.window-control-resize,
.window-control-close {
  width: 46px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  transition: 0.1s background;
}
.window-control-minimize:hover,
.window-control-resize:hover,
.window-control-close:hover {
  background: rgba(136,136,136,0.267);
}
.window-control-minimize:active,
.window-control-resize:active,
.window-control-close:active {
  background: rgba(136,136,136,0.133);
}
.window-control-close:hover {
  background: #e11;
}
.window-control-close:active {
  background: rgba(238,17,17,0.667);
}
.user-action {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  border-radius: 100%;
}
.user-action .avatar {
  height: 100%;
  width: 100%;
}
.user-menu-shell {
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: -10px;
}
.user-menu {
  position: relative;
  border-radius: var(--border-radius);
  background: var(--bg-alpha);
  backdrop-filter: var(--blur-filter);
  width: 320px;
  transform: translateY(-100%);
  pointer-events: none;
  transition: 0.2s transform cubic-bezier(0, 0.7, 0, 1);
}
.user-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  gap: 16px;
}
.user-info .avatar {
  height: 48px;
  width: 48px;
}
.menu-group:not(:first-child),
.menu-items {
  position: relative;
}
.menu-group:not(:first-child):not(:empty),
.menu-items:not(:empty) {
  padding-top: 2px;
}
.menu-group:not(:first-child):not(:empty):before,
.menu-items:not(:empty):before {
  content: '';
  height: 1px;
  top: -2px;
  width: 100%;
  background: rgba(136,136,136,0.267);
  display: block;
  position: absolute;
}
.menu-items {
  padding: 4px;
}
.menu-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.menu-group:not(:last-child) {
  padding-bottom: 6px;
}
.menu-item {
  display: flex;
  border-radius: var(--border-radius);
  height: 29px;
  align-items: center;
}
.menu-item i {
  width: 29px;
  flex: 0 0 auto;
  text-align: center;
}
.menu-item:hover {
  background: rgba(136,136,136,0.267);
}
.menu-name {
  width: calc(100% - 29px);
}
.user-control {
  app-region: no-drag;
  position: relative;
}
.user-control .user-action {
  transition: 0.1s transform;
}
.user-control .user-action:active {
  transform: scale(0.9);
}
.user-control.open .user-action {
  outline: 2px solid var(--theme-color);
}
.user-control.open .user-menu {
  transform: translateY(0%);
  pointer-events: all;
}
.history-control>* {
  app-region: no-drag;
  height: 36px;
  width: 36px;
  line-height: 38px;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid rgba(136,136,136,0);
  margin-left: -36px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s margin, 0.1s transform, 0.1s opacity;
}
.history-control>*:hover {
  background: rgba(136,136,136,0.133);
  border: 1px solid rgba(136,136,136,0.267);
}
.history-control>*:active {
  transform: scale(0.9);
}
.searchbar {
  flex: auto;
  padding-left: 74px;
  transition: 0.1s padding;
}
.show-history-back .searchbar {
  padding-left: 32px;
}
.show-history-back.show-history-home .searchbar {
  padding-left: 0px;
  padding-right: 10px;
}
@media screen and (max-width: 950px) {
  .show-history-back.show-history-home .searchbar {
    padding-left: 10px;
    padding-right: 0px;
  }
}
.show-history-back .history-control-back,
.show-history-back.show-history-home .history-control-home {
  margin-left: 6px;
  opacity: 1;
  pointer-events: all;
}
