:root
  // 主题色
  --theme-color #ca5cb3
  // 圆角
  --border-radius 6px
  // 高斯模糊背景
  --blur-filter blur(100px) saturate(1.8)

  // 颜色
  --font-color #000
  --bg-alpha #f3f3f3b0

  --titlebar-bg #f3f3f3b0
  --titlebar-color-nofocus #000a
@media (prefers-color-scheme: dark)
  :root
    --font-color #fff
    --bg-alpha #202020b0

    --titlebar-bg #202020b0
    --titlebar-color-nofocus #fffa