:root
  // 主题色
  --theme-color #ca5cb3
  --theme-font-color #fff
  // 圆角
  --border-radius 6px
  // 高斯模糊背景
  --blur-filter blur(100px) saturate(1.8)

  // 颜色
  --font-color #000
  --bg-alpha #f3f3f3b0

  --titlebar-bg #f3f3f3b0
  --titlebar-color-nofocus #000a

  // 基本输入
  --input-border 1px solid #e5e5e5
  --input-border-bottom 1px solid #868686
  --input-bg #fbfbfb
  --input-bg-hover #f6f6f6
  --input-bg-focus #fff
  --input-border-bottom-focus 1px solid var(--theme-color)
@media (prefers-color-scheme: dark)
  :root
    // 颜色
    --font-color #fff
    --bg-alpha #202020b0

    --titlebar-bg #202020b0
    --titlebar-color-nofocus #fffa

    // 基本输入
    --input-border 1px solid #303030
    --input-border-bottom 1px solid #9a9a9a
    --input-bg #2b2b2b
    --input-bg-hover #323232
    --input-bg-focus #1f1f1f