button
  all unset
  display inline-flex
  align-items center
  box-sizing border-box
  padding 10px 12px
  border 1px solid #0000
  border-radius 6px
  transition .1s border, .2s background, .1s scale
  font-family NotoSans
  position relative
  &:not(.btn-clear)
    background var(--btn-bg)
    border-color var(--btn-border)
    border-top-color var(--btn-border-top)
    border-bottom-color var(--btn-border-bottom)
    &[disabled]
      background var(--btn-bg-disabled)
      border-color var(--btn-border-disabled)
  &[disabled]
    color var(--btn-color-disabled)
  &:hover:not([disabled])
    background var(--btn-bg-hover)
    border-color var(--btn-border)
    border-top-color var(--btn-border-top)
    border-bottom-color var(--btn-border-bottom)
    .tooltip
      opacity 1
      transition .1s opacity 1s
  &:active:not([disabled])
    background var(--btn-bg-active)
    border-color var(--btn-border)
    border-top-color var(--btn-border-top-active)
    border-bottom-color var(--btn-border-bottom-active)
    color var(--btn-color-active)
    scale .92
  &:has(:nth-child(2)) .icon:first-child
    display inline
    margin 0 10px 0 2px
  &:not(:has(:nth-child(2))) .icon:first-child
  &:has(.tooltip:nth-child(2)) .icon:first-child
    margin 0 2px
  .tooltip
    top -100%
    left 0
    right 0
