ui-list
  display flex
  flex-direction column
  align-items flex-end
  gap 16px
.ui-list-container
  width 100%
  display flex
  flex-direction column
  gap 8px
.ui-list-item
  display flex
  align-items flex-end
  gap 8px
.ui-list-item-sort
  display flex
  flex-direction column
  gap 8px
.ui-list-item-content
  flex 1
.ui-list-item-remove
  height 38px
.ui-list-add
  width max-content
