ui-list
  display flex
  flex-direction column
  align-items flex-end
  gap 16px
.ui-list-container
  width 100%
  display flex
  flex-direction column
  gap 8px
.ui-list-item
  display flex
  align-items flex-end
  gap 8px
.ui-list-item-sort
  display flex
  flex-direction column
  gap 8px
.ui-list-item-content
  flex 1
  display flex
  flex-direction column
  gap 8px
.ui-list-item-remove
  height 38px
.ui-list-add
  width max-content
.ui-list-inline>.ui-list-container>.ui-list-item
  &>.ui-list-item-sort
  &>.ui-list-item-content
    flex-direction row
    align-items center
