@keyframes ui-setting-item-expand
  from
    height 0px
  to
    height var(--height)
@keyframes ui-setting-item-collapse
  from
    height var(--height)
  to
    height 0px
ui-setting-item
  display block
  margin 4px 0
  border-radius 6px
  overflow hidden
  &:has(.ui-setting-item-body:empty)
    .ui-setting-item-expand
      display none
  &:has(.ui-setting-item-body>*:first-child)
    .ui-setting-item-head-shell:not(:has(.ui-setting-item-head:hover))
      &:hover
        background var(--setting-bg-hover)
      &:active
        background var(--setting-bg-active)
.ui-setting-item-head-shell
  height 66px
  display flex
  align-items center
  padding 0 16px
  gap 16px
  background var(--bg3)
  transition .1s background
.ui-setting-item-icon
  width 32px
  font-size 20px
  text-align center
  &:empty
    display none
.ui-setting-item-info
  flex auto
.ui-setting-item-desc
  color var(--color2)
  font-size 12px
.ui-setting-item-head
  display flex
  gap 16px
.ui-setting-item-body-shell
  position relative
  height 0px
  overflow hidden
  animation ui-setting-item-collapse .2s
.ui-setting-item-body
  position absolute
  bottom 0
  width 100%
  background var(--bg3)
  border 1px solid #0000
  border-top-color var(--setting-border)
  &>*
    margin 8px 64px
    width calc(100% - 128px)
.ui-setting-item-expand .icon
  transition .2s rotate
.ui-setting-item-expanded
  .ui-setting-item-expand .icon
    rotate 180deg
  .ui-setting-item-body-shell
    height max-content
    animation ui-setting-item-expand .2s
  .ui-setting-item-body
    position static
.ui-setting-item-expanding
  .ui-setting-item-body-shell
    height var(--height)
  .ui-setting-item-body
    position absolute


// .setting-group
//   display flex
//   gap 8px
// .setting-group-column
//   flex-direction column
