@keyframes ui-setting-item-expand
  from
    height 0px
  to
    height var(--height)
@keyframes ui-setting-item-collapse
  from
    height var(--height, 0px)
  to
    height 0px
ui-setting-item
  &:has(.setting-item-body:empty)
    .ui-setting-item-expand
      display none
  &:has(.setting-item-body>*:first-child)
    .ui-setting-item-head-shell
      &:hover
        background var(--setting-bg-hover)
      &:active
        background var(--setting-bg-active)
.ui-setting-item-head-shell
  height 66px
  border-radius 6px
  display flex
  align-items center
  padding 0 16px
  gap 16px
  background var(--bg3)
  transition .1s background
.ui-setting-item-icon
  width 32px
  font-size 20px
  text-align center
.ui-setting-item-info
  flex 1
.ui-setting-item-desc
  color var(--color2)
  font-size 12px
.ui-setting-item-head
  display flex
  gap 16px
.ui-setting-item-body-shell
  position relative
  height 0px
  overflow hidden
  animation ui-setting-item-collapse .2s
.ui-setting-item-expand .icon
  transition .2s rotate
.ui-setting-item-expanded
  .setting-item-body-shell
    height var(--height)
    animation ui-setting-item-expand .2s
  .ui-setting-item-expand .icon
    rotate 180deg
.ui-setting-item-body
  position absolute
  bottom 0
  width 100%
  background var(--bg3)
  border-top 1px solid var(--setting-border)
