.tooltip
  position fixed
  display block
  margin auto
  border-radius 6px
  background var(--bg-tsp)
  backdrop-filter blur(20px)
  border 1px solid #8884
  line-height 1
  padding 10px
  white-space nowrap
  font-size 12px
  pointer-events none
  opacity 0
  scale .9
  transition .1s opacity, .1s scale
  z-index 20
.tooltip-show
  opacity 1
  scale 1
