@font-face {
  font-family: 'icon';
  src:
    url('./icon.ttf') format('truetype'),
    url('./icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-chevron-right:before {
  content: "\e92a";
}
.icon-chrome-maxmize:before {
  content: "\e926";
}
.icon-chrome-close:before {
  content: "\e927";
}
.icon-chrome-minimize:before {
  content: "\e928";
}
.icon-chrome-restore:before {
  content: "\e929";
}
.icon-shape-exclude:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-dark-theme:before {
  content: "\e902";
}
.icon-filter-dismiss:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-tag:before {
  content: "\e906";
}
.icon-archive:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-info:before {
  content: "\e909";
}
.icon-arrow-counterclockwise:before {
  content: "\e90a";
}
.icon-arrow-clockwise:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-add:before {
  content: "\e910";
}
.icon-emoji-hand:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-rename:before {
  content: "\e913";
}
.icon-heart-filled:before {
  content: "\e914";
}
.icon-star-filled:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-folder-open:before {
  content: "\e917";
}
.icon-data-pie:before {
  content: "\e918";
}
.icon-folder-arrow-right:before {
  content: "\e919";
}
.icon-open:before {
  content: "\e91a";
}
.icon-tag-dismiss:before {
  content: "\e91b";
}
.icon-warning:before {
  content: "\e91c";
}
.icon-document-header-dismiss:before {
  content: "\e91d";
}
.icon-calendar-clock:before {
  content: "\e91e";
}
.icon-money:before {
  content: "\e91f";
}
.icon-eye-show:before {
  content: "\e920";
}
.icon-dismiss:before {
  content: "\e921";
}
.icon-chevron-down:before {
  content: "\e922";
}
.icon-arrow-undo:before {
  content: "\e923";
}
.icon-arrow-redo:before {
  content: "\e924";
}
.icon-color:before {
  content: "\e925";
}
