.edit-bodys
  //- .edit-body.edit-body-current
.edit-tabs
  //- .edit-tab
  //-   .edit-tab-name ABC
  //-   .edit-tab-close
  //-     .icon.icon-Clear
  //- .edit-tab
  //-   .edit-tab-name 你好
  //-   .edit-tab-close
  //-     .icon.icon-Clear
  //- .edit-tab
  //-   .edit-tab-name 很长的标题很长的标题很长的标题很长的标题很长的标题
  //-   .edit-tab-close
  //-     .icon.icon-Clear
  .edit-tab-add
    .icon.icon-Add
