.rcmd
  img.rcmd-bg(src="../assets/defaultCover.png" draggable="false")
  .ui-width
    .rcmd-info
      .rcmd-title ...
      ui-lang.rcmd-subtitle home.rcmd_subtitle
      .rcmd-check
        ui-lang home.rcmd_check
    img.rcmd-cover(src="../assets/defaultCover.png" draggable="false")
.display-rack-control.ui-width
  button.btn-clear.home-rack-add
    i.icon.icon-Add
    ui-lang home.rack_add
  button.btn-clear.home-rack-sort(tooltip="<ui-lang>home.rack_sort</ui-lang>")
    .icon.icon-Sort
.display-rack.ui-width
