.rcmd
  img.rcmd-bg(src="../assets/defaultCover.png" draggable="false")
  .ui-width
    .rcmd-info
      .rcmd-title 基于 Electron 的番剧管理器 3.2
      ui-lang.rcmd-subtitle home.rcmd_subtitle
      .rcmd-check
        ui-lang home.rcmd_check
    img.rcmd-cover(src="../assets/defaultCover.png" draggable="false")
.display-rack-control.ui-width
  button.btn-clear
    i.icon.icon-Add
    ui-lang home.rack_add
  button.btn-clear(tooltip="<ui-lang>home.rack_sort</ui-lang>")
    .icon.icon-Sort
.display-rack.ui-width
  .rack
    .rack-head
      .rack-title 所有番剧
      button.rack-edit.btn-clear(tooltip="<ui-lang>home.rack_edit</ui-lang>")
        .icon.icon-Edit
      .rack-flex
      button.rack-expand.btn-clear(tooltip="<ui-lang>home.rack_expand</ui-lang>")
        .icon.icon-ChevronRight
    .rack-body
