.icon
  font-size 16px

input
textarea
  border var(--input-border)
  border-bottom var(--input-border-bottom)
  background var(--input-bg)
  height 36px
  border-radius var(--border-radius)
  width 100%
  padding 0 10px
  color var(--font-color)
  &::placeholder
    color #cfcfcf
  &:hover
    background var(--input-bg-hover)
  &:focus
    background var(--input-bg-focus)
    border-bottom var(--input-border-bottom-focus)
    outline 0
    &::placeholder
      color #969696
.input
  position relative
  input
    padding 0 36px
  .input-left
  .input-right
    position absolute
    margin 3px
    height 30px
    width 30px
    line-height 30px
    text-align center
    border-radius var(--border-radius)
    transition .1s transform
    &:hover
      background #8882
    &:active
      transform scale(.9)
  .input-left
    left 0
  .input-right
    right 0
.array-item
button
  height 32px
  background var(--button-bg)
  color var(--font-color)
  border var(--button-border)
  border-bottom var(--button-border-bottom)
  outline none
  padding 8px 12px
  height max-content
  border-radius 6px
  app-region no-drag
  white-space nowrap
  transition .1s background
  line-height 1.4rem
  &:hover:not(:disabled)
    background var(--button-bg-hover)
  &:active:not(:disabled)
    background var(--button-bg-active)
  &:disabled
    border var(--button-border-disabled)
    background var(--button-bg-disabled)
    color var(--button-color-disabled)

::-webkit-scrollbar
  display none

::selection
  background var(--theme-color)
  color var(--theme-font-color)

.menu-group:not(:first-child)
.menu-items
  position relative
  &:not(:empty)
    padding-top 2px
    &:before
      content ''
      height 1px
      top -2px
      width 100%
      background #8884
      display block
      position absolute
.menu-items
  padding 4px
  outline 0
.menu-group
  display flex
  flex-direction column
  gap 2px
  &:not(:last-child)
    padding-bottom 6px
.menu-item
  all unset
  display flex
  border-radius var(--border-radius)
  height 29px
  align-items center
  i
    width 29px
    flex 0 0 auto
    text-align center
  &:hover:not(:disabled)
  &:focus:not(:disabled)
    background #8884
  &:active:not(:disabled)
    background #8882
.menu-no-hover .menu-item
  &:hover:not(:disabled):not(:focus)
    background #8880
.menu-name
  width calc(100% - 29px)

a
  color var(--theme-color)
  &:hover
    text-decoration 0

ui-array
  display flex
  flex-wrap wrap
  gap 6px
  // input
.array-item
  line-height 1.2
  padding 8px 10px

ui-sort
  position relative
  display block
ui-sort-item
  position absolute
  display block
  &[sorting]
    transition none
    z-index 1
    ui-sort-grab
      cursor grabbing
  &[placeholder]
    opacity .1
  transition .2s top, .2s left, .1s .2s z-index
ui-sort-grab
  cursor grab
  display block

.flex-row
  display flex
  gap 8px
  width 100%
  align-items center
  &>*
    flex auto
.flex-auto
  flex 0 0 auto
.flex-right
  flex-direction row-reverse
.flex-stretch
  align-items stretch

ui-tab
  display block
  height 100%
  width 100%
ui-tab-bar
  width 100%
  display block
  position relative
  overflow auto hidden
  &:before
    content ''
    position absolute
    display block
    height 4px
    width var(--width, 0px)
    left var(--left, 0px)
    top 34px
    border-radius var(--border-radius)
    background var(--theme-color)
    transition .2s width cubic-bezier(1, 0, 0, 1), .2s left cubic-bezier(1, 0, 0, 1)
    z-index 1
ui-tab-item
  width max-content
  display flex
  height 32px
  align-items center
  .info
    padding 0 10px
  .close
    @extend button
    height 32px
    width 32px
    text-align center
    line-height 32px
    padding 0
    background none
    border none
  &:hover
    background var(--button-bg-hover)
ui-tab-content
  display block
  background var(--bg)
  transition .1s .1s opacity
  &:not(.ui-tab-current)
    pointer-events none
    opacity 0
    transition .1s opacity