.dialog-shell
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  background #0004
  animation dialog-shell .2s
  transition .2s background
.dialog
  border-radius var(--border-radius)
  background var(--block-bg)
  border var(--dialog-border)
  overflow hidden
  width 500px
  animation dialog-open .2s
.dialog-control
  background-color var(--bg)
  background-image linear-gradient(#0006, #0000)
  background-size 100% 4px
  background-repeat no-repeat
  padding 26px
  display flex
  gap 8px
  button
    width 100%
  .dialog-confirm
    background var(--theme-color)
    color var(--theme-font-color)
  .dialog-warn
    background var(--dialog-warn-bg)
    &:hover
      background var(--dialog-warn-bg-hover)
    &:active
      background var(--dialog-warn-bg-active)
.dialog-title
  font-size 20px
  font-weight bold
  padding 26px
.dialog-content
  padding 0 26px 26px
.dialog-close
  background #0000
  .dialog
    scale 0
    animation dialog-close .2s