.item-list-container
  display flex
  flex-direction column
  gap 8px
.pagination
  display flex
  justify-content flex-end
  gap 10px
  &>*
    border-radius var(--border-radius)
    width 30px
    height 30px
    text-align center
    line-height 30px
    padding 0
  .current
    border var(--button-border-disabled)
    background var(--button-bg-disabled)
    color var(--button-color-disabled)
    pointer-events none
.item-list
  --item-width 268px
  display grid
  justify-content space-evenly
  grid-template-columns repeat(auto-fill, var(--item-width))
  gap 12px 0
  opacity 1
  transition .1s opacity
  @media (max-width: 1717px)
    --item-width 230px
  @media (max-width: 1489px)
    --item-width 210px
  @media (max-width: 1369px)
    --item-width 200px
.item-list-hide
  opacity 0
.item
  padding 14px
  border-radius var(--border-radius)
  transition .2s ease box-shadow, .2s ease background, .2s ease transform
  &:hover
    box-shadow 0 4px 8px #0008
    transform translateY(-4px)
    background var(--item-bg)
  &:active
    transform translateY(-4px) scale(.98)
  .cover
    height calc((var(--item-width) - 28px) / 3 * 4)
    width calc(var(--item-width) - 28px)
    object-fit cover
    border-radius var(--border-radius)
  .info
    margin-top 4px
    width 100%
    display flex
    flex-direction column
    gap 4px
  .title
    font-size 16px
  .evaluation
    opacity .8
    display flex
    gap 8px
  .mark
    display flex
    gap 4px
    flex-wrap wrap
.item-loading
  .title
    height 21px
  .cover
  .title
    border-radius var(--border-radius)
    animation item-loading 1s infinite alternate linear