body>.notices
  position fixed
  right 20px
  top 60px
  height 0px
  width 300px
  .notice
    width 310px
    background var(--block-bg)
    border-radius var(--border-radius)
    border var(--block-border)
    overflow hidden
    animation .1s notice-show
    opacity 1
    transition .1s opacity, .1s top, .1s left
  .title
    display flex
    padding 18px 24px 6px
    gap 8px
    align-items center
    font-size 16px
  .content
    padding 6px 24px 18px
  .prog
    position absolute
    bottom 0
    right 0
    width 0%
    height 6px
    background var(--theme-color)
    animation 5s notice linear
  .notice-fade
    opacity 0