.pages
.page
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
.page
  padding-top 50px
  overflow hidden scroll
.page-scroll
  height calc(100vh - 50px)
  width 14px
  display block
  position fixed
  right 0
  top 50px
  z-index 1
  &:hover *
    width 6px