.titlebar
  width 100vw
  height 50px
  display flex
  align-items center
  app-region drag
  position fixed
  top 0
  z-index 100
  position relative
  &>*
    flex 0 0 auto
    z-index 1
  &:before
    content ''
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    right 0
    bottom 0
    background var(--titlebar-bg)
    backdrop-filter var(--blur-filter)
  .app-icon
    margin 0 10px
  .input
    app-region no-drag
    max-width 520px
    margin auto
body.blur .titlebar
  color var(--titlebar-color-nofocus)
.app-info
.history-control
  display flex
  align-items center
.window-control
  height 50px
  display flex
  i
    font-size 13px
.window-control-minimize
.window-control-resize
.window-control-close
  app-region no-drag
  width 46px
  height 32px
  line-height 32px
  text-align center
  transition .1s background
  &:hover
    background #8884
  &:active
    background #8882
.window-control-close
  &:hover
    background #e11
  &:active
    background #e11a
.user-action
  height 32px
  width 32px
  margin 0 10px
  border-radius 100%
  .avatar
    height 100%
    width 100%
.user-menu-shell
  overflow hidden
  position absolute
  top 40px
  right -10px
  pointer-events none
.user-menu
  position relative
  border-radius var(--border-radius)
  background var(--bg-alpha)
  backdrop-filter var(--blur-filter)
  width 320px
  transform translateY(-100%)
  transition .2s transform cubic-bezier(0, 0.7, 0, 1)
.user-info
  display flex
  width 100%
  align-items center
  padding 10px 20px
  gap 16px
  .avatar
    height 48px
    width 48px
.user-control
  app-region no-drag
  position relative
  .user-action
    transition .1s transform
    &:active
      transform scale(.9)
  &.menu-open
    .user-action
      outline 2px solid var(--theme-color)
    .user-menu
      transform translateY(0%)
    .user-menu-shell
      pointer-events all
.history-control>*
  app-region no-drag
  height 36px
  width 36px
  line-height 38px
  text-align center
  border-radius var(--border-radius)
  border 1px solid #8880
  margin-left -36px
  opacity 0
  pointer-events none
  transition .1s margin, .1s transform, .1s opacity
  &:hover
    background #8882
    border 1px solid #8884
  &:active
    transform scale(.9)
.searchbar
  flex auto
  padding-left 74px
  transition .1s padding
  input:placeholder-shown+i
    transform scale(0)
.show-history-back .searchbar
  padding-left 32px
.show-history-back.show-history-home .searchbar
  padding-left 0px
  padding-right 10px
  @media screen and (max-width:950px)
    padding-left 10px
    padding-right 0px
.show-history-back .history-control-back
.show-history-back.show-history-home .history-control-home
  margin-left 6px
  opacity 1
  pointer-events all