.titlebar
  width 100vw
  height 50px
  display flex
  align-items center
  app-region drag
  position fixed
  top 0
  z-index 100
  position relative
  &>*
    flex 0 0 auto
    z-index 1
  &:before
    content ''
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    right 0
    bottom 0
    background var(--titlebar-bg)
    backdrop-filter var(--blur-filter)
  .app-icon
    margin 0 10px
  .input
    app-region no-drag
    max-width 520px
    margin auto
body.blur
  color var(--titlebar-color-nofocus)
.app-info
.history-control
  display flex
  align-items center
.window-control
  app-region no-drag
  height 50px
  display flex
  i
    font-size 12px
.window-control-minimize
.window-control-resize
.window-control-close
  width 46px
  height 32px
  line-height 32px
  text-align center
  transition .1s background
  &:hover
    background #8884
  &:active
    background #8882
.window-control-close
  &:hover
    background #e11
  &:active
    background #e11a
.user-action
  height 32px
  width 32px
  margin 0 10px
  border-radius 100%
  .avatar
    height 100%
    width 100%
.user-menu
  position absolute
  top 40px
  border-radius var(--border-radius)
  right -10px
  overflow hidden
  background var(--bg-alpha)
  backdrop-filter var(--blur-filter)
  width 320px
  max-height 0px
  transition .2s max-height
.user-info
  display flex
  width 100%
  align-items center
  padding 10px 20px
  gap 16px
  .avatar
    height 48px
    width 48px
.menu-group:not(:first-child)
.menu-items
  position relative
  &:not(:empty)
    padding-top 2px
    &:before
      content ''
      height 1px
      top -2px
      width 100%
      background #8884
      display block
      position absolute
.menu-items
  padding 4px
.menu-group
  display flex
  flex-direction column
  gap 2px
  &:not(:last-child)
    padding-bottom 6px
.menu-item
  display flex
  border-radius var(--border-radius)
  height 29px
  align-items center
  i
    width 29px
    flex 0 0 auto
    text-align center
  &:hover
    background #8884
.menu-name
  width calc(100% - 29px)
.user-control
  app-region no-drag
  position relative
  &.open
    .user-action
      outline 2px solid var(--theme-color)
    .user-menu
      max-height var(--inner-height, max-content)
.history-control>*
  app-region no-drag
  height 36px
  width 36px
  line-height 38px
  text-align center
  border-radius var(--border-radius)
  border 1px solid #8880
  margin-left -36px
  opacity 0
  pointer-events none
  transition .1s margin, .1s transform, .1s opacity
  &:hover
    background #8882
    border 1px solid #8884
  &:active
    transform scale(.9)
// .app-info
//   margin-right 74px
//   transition .1s margin
.searchbar
  flex auto
  padding-left 74px
  transition .1s padding
.show-history-back .searchbar
  padding-left 32px
.show-history-home .searchbar
  padding-left 0px
  padding-right 10px
  @media screen and (max-width:950px)
    padding-left 10px
    padding-right 0px
.show-history-back .history-control-back
.show-history-home .history-control-home
  margin-left 6px
  opacity 1
  pointer-events all