doctype html
html(lang=lang.current style="--theme-color: #" + system.accentColor + ';')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=lang.abm
    link(rel="stylesheet", href="./src/assets/fonticon/fonticon.css")
    link(rel="stylesheet" href="./src/css/style.css")
  body
    include includes/titlebar.pug
    .pages
      include includes/page-home.pug
      .page.page-item
        include includes/page-item.pug
      .page.page-edit
        //- ui-scroll(target=".page.page-edit").page-scroll
        ui-tab.tab-empty(tip=lang.item_edit.nothing_editing_tip)
    ui-sort.notices(gap="0 10")
    script(src="./src/js/customElements.js")
    script(src="./src/js/helper.js")
    script='window.init()'