head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="./src/css/startup.css")
  link(rel="stylesheet", href="./src/assets/fonticon/fonticon.css")
body
  img(src=startupImage)
  .window-control-close(onclick="forceStop()")
    i.icon.icon-chrome-close
  .info
    .app-name=lang.abm
    .app-version='v' + app.version + ' build ' + app.build
    .startup-info=lang.startup_screen.loading
  .ui-loader-progress